* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Poppins, Cinzel, sans-serif;
}

li, a, span {
    list-style: none;
    text-decoration: none;
    color: rgb(200, 230, 255);
}

h1 {
    font-family: Cinzel;
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(109, 99, 80);
}

button {
    background-color: #364e70;
    color: rgb(200, 230, 255);
    text-transform: uppercase;
    font-weight: 600;
    font-family: Cinzel;
    width: 110px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(200, 230, 255);
    color: #1F2937;
}

#logo {
    height: 100px;
    border-radius: 100%;
    border-style: double;
    border-width: 6px;
    border-color: rgb(200, 230, 255);
    padding: 4px;
}

#mydice {
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(154, 177, 196, 0.815);
    border-radius: 20px;
    box-shadow: 0px 0px 12px 12px #3c4758;
}

.buy {
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-family: Cinzel;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 48px;
    padding-bottom: 128px;
    background-color: #1F2937;
    color: antiquewhite;
}

.dga {
    display: flex;
    flex-direction: column;
    width: 475px;
    gap: 16px;
}
