* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Poppins, Cinzel, sans-serif;
}

li, a, span {
    list-style: none;
    text-decoration: none;
    color: rgb(200, 230, 255);
}

h1 {
    font-family: Cinzel;
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(109, 99, 80);
}

h2 {
    font-family: Cinzel;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-shadow: 1px 1px #3c4758;  
}

button {
    background-color: #364e70;
    color: rgb(200, 230, 255);
    text-transform: uppercase;
    font-weight: 600;
    font-family: Cinzel;
    width: 110px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(200, 230, 255);
    color: #1F2937;
}

#logo {
    height: 100px;
    border-radius: 100%;
    border-style: double;
    border-width: 6px;
    border-color: rgb(200, 230, 255);
    padding: 4px;
}

#mydice {
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(154, 177, 196, 0.815);
    border-radius: 20px;
    box-shadow: 0px 0px 12px 12px #3c4758;
}

.buy {
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-family: Cinzel;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #1F2937;
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 48px;
    padding-bottom: 128px;
    background-color: #1F2937;
    color: antiquewhite;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 475px;
    gap: 16px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: #1F2937;
    padding: 5em;
    gap: 5em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em 5em;
    gap: 5em;
}

.tile {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    text-align: center;
    gap: 1em;
}

.pic {
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1F2937;
}

.fn {
    color: darkslategray;
    text-decoration: underline;
}

.sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    color: #1F2937;
    padding: 5em;
    gap: 3em;
}

.box {
    max-width: 1000px;
}

.quote {
    font-family: Cinzel;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

.cite {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding: 4px 20px;
}