* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", Cinzel, serif;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

#logo {
    height: 100px;
    border-radius: 100%;
    border-style: solid;
    border-color: aliceblue;
    padding: 4px;
}

#mydice {
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 8px #f0f8ff23;
}

.buy {
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-family: Cinzel;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #1F2937;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 32px;
    background-color: #1F2937;
    font-family: Cinzel;
    color: aliceblue;
}

.dga {
    width: 500px;
}